.main-card {
    transition: transform 0.3s;
}

.main-card:hover {
    transform: translateY(-10px);
}

img[src=''] {
    display: none;
}

.hover-scaleUp {
    transition: transform 0.2s;
}

.hover-scaleUp:hover {
    transform: scale(1.1);
}
