{% extends 'base.html' %}
{% block content %}
    <div class="container my-5">
    {% if books.count == 0 %}
        <h2>등록된 독후감이 없습니다.</h2>
    {% else %}
        <h1>글목록</h1>
        <div class="row">
        {% for book in books %}
            <div class="col-6 px-2 py-4 col-lg-4 px-lg-4" onclick="navigate('{{ book.id }}')">
            <div class="card p-0 hover-scaleUp shadow">
                <div class="ratio ratio-1x1">
                    <img class="card-img w-100 object-fit-cover" src="{{ book.book_image.url }}">
                </div>
                <div class="card-body">
                    <h4 class="card-title">{{ book.title }}</h4>
                    <h6 class="card-text text-body-secondary">{{ book.content }}</h6>
                </div>
            </div>
            </div>
        {% endfor %}
        </div>
    {% endif %}
    </div>
    <script>
        function navigate(url){
            window.location.href = window.location.href + url
        }
    </script>
{% endblock %}
