{% extends 'base.html' %}
{% block content %}
    <div class="container my-5">
        <div class="row justify-content-center justify-content-md-start border-bottom border-3 pb-3 gap-4 pb-md-4">
            <img src="{{ book.book_image.url }}" class="col-8 col-md-3 p-0" style="width: 300px; height:300px; object-fit: cover">
            <div class="col-8 col-md-auto text-center text-md-start">
                <h2>책 제목: {{ book.title }}</h2>
            </div>
        </div>
        <h5 class="my-4">{{ book.content }}</h5>
        <div class="d-flex justify-content-end me-4 mt-5 gap-2">
            <button class="btn btn-secondary"><a href="{% url 'rewrite' book.id %}" >수정</a></button>
            <button class="btn btn-secondary" onclick="deletePost({{ book.id }})">삭제</button>
        </div>
    </div>
    <script>
        async function deletePost(id){
            if(window.confirm('정말 삭제하시겠습니까?')){
                const response = await fetch('http://localhost:8000/board/posts/'+id,{
                    method : 'DELETE',
                })
                window.location.href = 'http://localhost:8000/board/posts'
            }
        }
    </script>
{% endblock %}