{% extends 'base.html' %}
{% block content %}
    <div class="container">
        <div class="mb-5 text-center">
            <h3 class="my-5 fs-1 mb-2">책을 읽고 기록해보세요</h3>
            <h5 class="fs-2">Read Book, Write Thinking</h5>
        </div>
        <div class="row justify-content-center">
            <div class="card shadow p-0 col-8 mb-5 col-lg-3 mx-lg-2 main-card" onclick="navigate('write/')">
                <img src="https://picsum.photos/300/200?grayscale&random=1" class="card-img"/>
                <div class="card-body">
                    <h5 class="card-title">독후감 작성하기</h5>
                    <h6 class="card-subtitle mb-2 text-body-secondary">여러분만의 기록장을 만드세요</h6>
                </div>
            </div>
            <div class="card shadow p-0 col-8 mb-5 col-lg-3 mx-lg-2 main-card">
                <img src="https://picsum.photos/300/200?grayscale&random=2" class="card-img"/>
                <div class="card-body">
                    <h5 class="card-title">이미지 등록하기</h5>
                    <h6 class="card-subtitle mb-2 text-body-secondary">책 페이지 사진과 함께 저장하세요</h6>
                </div>
            </div>
            <div class="card shadow p-0 col-8 mb-5 col-lg-3 mx-lg-2 main-card" onclick="navigate('posts/')">
                <img src="https://picsum.photos/300/200?grayscale&random=3" class="card-img"/>
                <div class="card-body">
                    <h5 class="card-title">기록 모아보기</h5>
                    <h6 class="card-subtitle mb-2 text-body-secondary">독서 기록을 정리해드립니다</h6>
                </div>
            </div>
        </div>
    </div>
    <script>
        function navigate(url){
            const now = window.location.href
            window.location.href = now + url
        }
    </script>
{% endblock %}